<!DOCTYPE html>
<!-- Autor: Javier -->
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
    <head>
        <title th:text="#{application.title}"></title>
        <meta charset="ISO-8859-1">
        <link rel="stylesheet" href="/form-styles.css">        
    </head>
    <body>
        <div th:include="components/navbar.html"></div>
        <h1 th:text="#{patient.individual.consent.title}"></h1>
        <div th:include="components/consent.html"></div>
    </body>
</html>