<!DOCTYPE html>
<!-- Autor: Javier -->
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
    <head>
        <title th:text="#{application.title}"></title>
        <meta charset="ISO-8859-1">
        <link rel="stylesheet" href="/form-styles.css">        
    </head>
    <body>
        <div th:include="components/navbar.html"></div>
        <h1 th:text="#{patient.menu.title}"></h1>
        <p>Bienvenido al menu, como paciente puedes consultar las solicitudes de consentimiento recibidas, y los consentimientos otorgados.<p>
        <button onclick="location.href = '/paciente/solicitudes';" th:text="#{patient.menu.query.claims}"></button>
        <button onclick="location.href = '/paciente/consentimientos';" th:text="#{patient.menu.query.consents}"></button>
    </body>
</html>